body {
    background-color: #212529;
    color: var(--font-color);
    margin: 0;
    padding: 0;
}

#image {
    width: 75px;
    height: 75px;
    float: left;
}

#cardbg {
    background-color: grey;
}

.theme-light {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #000000;
}

.theme-dark {
    --color-primary: #17ed90;
    --color-secondary: grey;
    --color-accent: #12cdea;
    --font-color: #ffffff;
}